/* Reset some default browser styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: white;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #44240f;
}

input {
  padding: 10px;
  width: 60%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 5px;
  font-size: 1rem;
}

button {
  background-color: #f99a53;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f5a568;
}

#results, #favorites {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#results div, #favorites li {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  color: #663312;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 600px) {
  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
